.nav-bar{
    padding-left: 2rem;
    height: fit-content;
    list-style: none;
    background-color: rgb(0, 140, 255);
    color: whitesmoke;
    display: flex;
    margin-top: auto;
}
#one {
    padding:1rem;
}

#two {
    padding:1rem;
}

#three {
    padding:1rem;
} 

li:hover{
    cursor: pointer;
}
