#search-bar{
    margin-top: 0.6rem;
    margin-left: 1rem;
    padding: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    width: 80%;
    border-style: none;
    border-radius: 1.5rem;
    align-self: center;
}


#search-bar::placeholder{
    font-size: 1rem;
}

#serach-container{
    margin-bottom: 0rem;
    height: fit-content;
    width:20%;
    height: fit-content;
    position: relative;
}

#serach-container .fa-w-16 {
    position: relative;
    top: -2rem;
    left: 85%;
    color: grey;

}

#li-wraper-small .fa-w-16 {
    position: relative;
    top:-5rem;
    color: grey;
    left: 85%
}