.contact{
    background-color:#898890 ;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-wraper{
    display: flex;
    align-items: center;
}
.email-wraper p {
    margin-left: 0.5rem;
}
.contact h3{
    margin-bottom:0.5rem;
    color: whitesmoke;
}

.social-media-contact {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.social-media-contact .fa-w-16, .social-media-contact .fa-w-18 {
    font-size: 1.5rem;
}

.social-media-contact .fa-w-16:hover, .social-media-contact .fa-w-18:hover{
    cursor: pointer;
}


