.sing-in-form-user-invalid input, .sing-in-form-pass-invalid input {
    border: none;
    border-bottom-style: solid;
    border-bottom-color: rgba(223, 26, 0, 0.719);
    padding : 0.2rem;
    padding-left: 2rem;
    color: #5d5b59;
}

#sing-in-form-user-invalid-icon {
    font-size: 1.2rem;
    z-index: +1;
    position: absolute;
    color:rgba(223, 26, 0, 0.719);
}

#sing-in-form-pass-invalid-icon {
    font-size: 1.2rem;
    z-index: +1;
    position: absolute;
    color:rgba(223, 26, 0, 0.719);
}

